body {
  font-family: "lobster";
  line-height: "1.4";
  background-color: #007cba;
  width: 500px;
  margin: auto;
}
form {
  background: rgb(5, 5, 147, 0.4);
  padding: 3.5rem 3.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}
.submit-button {
  width: 100%;
  padding: 0.75rem;
  background: red;
  color: white;
  cursor: pointer;
}
.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-inputs {
  display: block;
  width: 90%;
  height: 2rem;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid cedida;
  border-radius: 0.25rem;
}
.copyright {
  color: black;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}
.logo {
  position: absolute;
  top:200px;
  right: -40px;
  border-radius: 2rem;
}
